{% extends 'base.html.twig' %}

{% block title %}FriendsBets - Pariez sur vos matchs préférés entre amis !{% endblock %}

{% trans_default_domain 'messages' %}

{% block body %}
    {{ include('app/home/_navbar.html.twig') }}

    <header class="masthead text-black text-center">
        <div class="container d-flex align-items-center justify-content-around">
            <div class="text-left">
                <p class="">{{ 'hello.message'|trans({'%name%': user}) }}</p>
                <h1 class="">Pariez sur vos matchs favoris, entre amis !</h1>
                <p class="">Créer un match et envoyer le lien à vos amis pour recevoir leurs paris.</p>
            </div>
            <div class="d-none d-sm-none d-md-block">
                <img class="img-fluid" src="{{ asset('images/ballon.png') }}">
            </div>
        </div>
    </header>

    <div class="container container-marged">
        <div class="row d-flex justify-content-around align-items-center">
            <div class="col">
                <p>Commencer à parier dès maintenant sur vos matchs préférés !</p>
                <p>Allez voir les matchs de la semaine, lâchez vos meilleurs résultats et vous recevrez un mail récapitulatif quand le match sera terminé.</p>
            </div>
            <div class="col">
                <img class="img-fluid" src="{{ asset('images/bet.png') }}">
            </div>
        </div>
    </div>
<style>
.hauteur_logo {
    height: 100px;
    witdh: 100px;
}
</style>
<header class="masthead text-black text-center">
    <div class="container container-marged">
        <div class="test">
        </div>
    <div id="present" style="height: 467.678px;">
        <div class="cell">
            <h1>
                        CECI EST UN TEST
            </h1>
            <h2>
                        Et ceci un autre
            </h2>

            <div class="competitions">
                <a href="#">
                    <img src="{{ asset('images/ligue2.png') }}" class="hauteur_logo">
                <a href="#">
                    <img src="{{ asset('images/champligue.png') }}" class="hauteur_logo">

{% endblock %}
