{% extends 'base.html.twig' %}

{% block title %}FriendsBets - Pariez sur vos matchs préférés entre amis !{% endblock %}

{% trans_default_domain 'messages' %}

{% block body_class %}
    class="flex-body"
{% endblock %}

{% block body %}
    {{ include('app/home/navbar.html.twig') }}

    <header class="container-colored text-black text-center">
        <div class="container d-flex align-items-center justify-content-around">
            <div class="text-left">
                <h1 class="">Pariez sur vos matchs favoris, entre amis !</h1>
                <p class="">Créer un match et envoyer le lien à vos amis pour recevoir leurs paris.</p>
            </div>
            <div class="d-none d-sm-none d-md-block">
                <img class="img-fluid" src="{{ asset('images/ballon.png') }}" alt="Ballon">
            </div>
        </div>
        <div class="row">
            <div class="d-flex justify-content-center py-1">
                <a href="{{ path('security.login') }}" class="btn btn-access btn-signup">S'inscrire</a>
                <a href="{{ path('security.login') }}" class="btn btn-access btn-login">Se connecter</a>
            </div>
        </div>
    </header>

    <div class="container container-marged flex-container">
        <div class="row d-flex justify-content-around align-items-center">
            <div class="col">
                <p>Commencer à parier dès maintenant sur vos matchs préférés !</p>
                <p>Allez voir les matchs de la semaine, lâchez vos meilleurs résultats et vous recevrez un mail récapitulatif quand le match sera terminé.</p>
            </div>
            <div class="col">
                <img class="img-fluid" src="{{ asset('images/bet.png') }}" alt="Paris" />
            </div>
        </div>
    </div>

    {{ include('app/home/footer.html.twig') }}
{% endblock %}

