<nav class="navbar navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

        <li class="navbar-brand js-scroll-trigger"><a href="{{ path('home.index') }}"><img src="{{ asset('images/logofinal.png') }}" alt="logo" class="img-fluid main-logo"/></li>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">

            <!-- Partie gauche -->

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ path('event.add') }}">
                        <i class="fas fa-plus-circle"></i> Ajouter un match
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ path('event.index') }}">
                        <i class="fas fa-futbol"></i> Voir les matchs
                    </a>
                </li>
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ path('user.groups') }}">
                            <i class="fas fa-users"></i> Mon groupe
                        </a>
                    </li>
                {% endif %}
            </ul>

            <!-- Partie droite -->

            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a href="#" class="nav-link waves-effect" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link waves-effect" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link waves-effect"
                       target="_blank">
                        <i class="fas fa-envelope-square"></i>
                    </a>
                </li>
                {% if not app.user %}
                    <li class="nav-item dropdown mx-0 mx-lg-1">
                        <a class="nav-link dropdown-toggle px-0 px-lg-3 rounded js-scroll-trigger" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user-alt"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item dropdown-user" href="{{ path('security.login') }}">Se connecter</a>
                            <a class="dropdown-item dropdown-user" href="{{ path('security.signup') }}">S'inscrire</a>
                        </div>
                    </li>
                {% endif %}
                {% if app.user %}
                <li class="nav-item mx-0 mx-lg-1">
                    <a href="{{ path('user.groups') }}"
                    class="nav-link border border-light rounded rounded js-scroll-trigger" target="_blank">
                    <i class="fas fa-user mr-1"></i>
                    {{ app.user.username }}
                    {% endif %}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</header>
