{% extends 'base.html.twig' %}

{% block title 'FriendsBet - Votre groupe' %}

{% block body %}
    {{ include('app/home/navbar.html.twig') }}
    <div class="container">
        <div class="row my-4">
            <div class="col">
                {% if form is defined and form is not null %}
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <div class="form-group py-4">
                        <input type="submit" value="Créer ton groupe" class="btn btn-success float-right">
                    </div>
                    {{ form_end(form) }}
                {% else %}
                    <h3 class="group_name">{{ group.name }}</h3>
                    {% if group.token is defined and group.token is not null %}
                        <h4>Envoyez ce lien à vos amis pour qu'ils rejoignent votre groupe : <span class="token">http://jordan.renard/groups/join/{{ group.token }}</span></h4>
                    {% endif %}
                    <button type="button" class="btn btn-access login-btn-center" data-toggle="modal" data-target="#staticBackdrop">
                        Quittez ce groupe en cliquant ici
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
