{% extends 'base.html.twig' %}

{% block title 'Parier sur ce match' %}

{% block body_class %}
    class="flex-body"
{% endblock %}

{% block body %}
    {{ include('app/home/navbar.html.twig') }}
    <div class="container flex-container">
        <div class="row">
            <div class="col">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="form-group">
                    <input type="submit" value="Parier" class="btn btn-success float-right my-3">
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                Vous voulez parier sur {{ match[0]["homeTeam"]["team_name"] }} - {{ match[0]["awayTeam"]["team_name"] }}
            </div>
        </div>
    </div>
    {{ include('app/home/footer.html.twig') }}
{% endblock %}
