{% extends 'base.html.twig' %}

{% block title 'Parier sur ce match' %}

{% block body %}
    {% include 'app/home/navtest.html.twig' %}
    <div class="container container-padding">
        <div class="row">
            <div class="col">
                {{ match.teamOne }} vs {{ match.teamTwo }}
            </div>
            <div class="col">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
