{% extends 'base.html.twig' %}

{% block title %}Les matchs de la semaine{% endblock %}


{% trans_default_domain 'messages' %}

{% block body_class %}
{% endblock %}

{% block body %}
{{ include('app/home/_navbar.html.twig') }}
{{ include('app/event/_navmatch.html.twig') }}
    <div class="container-fluid mt-3">
        <div class="row">
            {% for match in content["matches"] %}
                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div>
                                <h4 class="card-title text-center">{{ match["homeTeam"]["name"] }} - {{ match["awayTeam"]["name"] }}</h4>
                                <h5 class="card-title text-center">{{ match["score"]["fullTime"]["homeTeam"] ?? 0 }} - {{ match["score"]["fullTime"]["awayTeam"] ?? 0}}</h5>
                            </div>
                            <p class="card-text">{{ match["utcDate"]|date('d/m/Y') }} : Journée 38</p>
                        </div>
                        <div class="card-footer" style="
                            padding-bottom: 45px;
                            padding-top: 16px;
                            ">
                            <a href="{{ path('event.bet', {'id': match["id"]}) }}" class="btn btn-secondary betButton">Parier</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
