{% extends 'base.html.twig' %}

{% block title %}Les matchs de la semaine{% endblock %}


{% trans_default_domain 'messages' %}

{% block body_class %}
{% endblock %}

{% block body %}
    {{ include('app/home/navtest.html.twig') }}
    {{ include('app/event/_navmatch.html.twig') }}
    <div class="container-fluid mt-3">
        <div class="row">
            {% for match in matchs %}
<<<<<<< HEAD
                <div class="col-md-12">
                    <div class="card mb-3">
                        <div>
=======
                <div class="col-6">
                    <div class="card mb-lg-3">
                        <div style="height: 150px">
>>>>>>> f65e13af1056eb6f4119228a053d306d66e54886
                            <div>
                                <h4 class="card-title text-center mb-lg-3">
                                    <span class="team-title-left">{{ match.firstTeam }}</span>
                                    <span class="team-score">{{ match.scoreFirstTeam ?? 0 }}</span>
<<<<<<< HEAD
                                    <div class="event-visu"></div>
=======
                                    <span class="event-visu"> - </span>
>>>>>>> f65e13af1056eb6f4119228a053d306d66e54886
                                    <span class="team-score">{{ match.scoreSecondTeam ?? 0 }}</span>
                                    <span class="team-title-right">{{ match.secondTeam }}</span>
                                </h4>
                            </div>
                        </div>
                        <div class="card-footer row-1" style="
                            padding-bottom: 45px;
                            padding-top: 16px;
                            height: 25px;
                            ">
                            <a class="card-text">{{ match.playedAt|date('d/m/Y') }} : Journée 38</a>
                            <a class="badge badge-success align-content-center">{{ match.status }}</a>
                            <a href="{{ path('event.bet', {'id': match.id}) }}" class="btn btn-secondary betButton">Parier</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            {{ knp_pagination_render(matchs) }}
        </div>
    </div>
{% endblock %}
