{% extends 'base.html.twig' %}

{% block title %}Les matchs de la semaine{% endblock %}


{% trans_default_domain 'messages' %}

{% block body_class %}
{% endblock %}

{% block body %}
    {{ include('app/home/navtest.html.twig') }}
    {{ include('app/event/_navmatch.html.twig') }}
    <div class="container-fluid mt-3">
        <div class="row">
            {% for match in matchs %}
                <div class="col-sm-12 col-md-6">
                    <div class="card">
                        <div class="overlay"></div>
                        <div class="content">
                            <h4>{{ match.firstTeam }} {{ match.scoreFirstTeam }} - {{ match.scoreSecondTeam }} {{ match.secondTeam }}</h4>
                            <h6><button class="btn btn-danger my-2">Parier</button></h6>
                        </div>
                        <div class="status">
                            {{ match.status|trans }} : {{ match.playedAt|date('d/m/Y') }}
                            {% if match.isCustom is not null %}
                                <span class="badge custom">CUSTOM</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-12">
                {{ knp_pagination_render(matchs) }}
            </div>
        </div>
    </div>
{% endblock %}
